.image{
  position: relative;
  width: 100%;
}

.img{
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

img2{
  position: relative;
  width: 100%;
}

body{
  margin-left: 150px;
  margin-right: 150px;
  color: #222222;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 170%;
}

p, ul{
  font-size: 110%;
}

.first{
  font-weight: bold;
}

.sub{
  font-style: italic;
}

.box{
  border-bottom: 5px solid #000000;
}
